#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

comment "RA Configuration Options"

choice
	prompt "RA Chip Selection"
	default ARCH_CHIP_R7FA4M1ABxxFP
	depends on ARCH_CHIP_RA

config ARCH_CHIP_R7FA4M1ABxxFP 
	bool "R7FA4M1ABxxFP"
	select RA4M1_FAMILY

endchoice # RA4 Chip Selection

config RA4M1_FAMILY
	bool
	default n
	select ARCH_CORTEXM4

menu "RA4M1 Peripheral Support"

config RA4M1_UART0
	bool "UART 0"
	default y
	select UART0_SERIALDRIVER
	select ARCH_HAVE_SERIAL_TERMIOS

config RA4M1_UART2
	bool "UART 0"
	default y
	select UART2_SERIALDRIVER
	select ARCH_HAVE_SERIAL_TERMIOS

endmenu # AT91SAM3/4 Peripheral Support

